ul{
	padding: 0;
	padding-left: 20px;
}

.page{
	width: 360px;
	margin: auto;
	background: black;
}

.header{
	width: 360px;
	height: 132px;
	margin-bottom: 7px;
}

.main{
	width: 340px;
	height: 221px;
	margin: auto;
	margin-bottom: 30px;
}

.main__text{
	font-family: "EB Garamond", serif;

	font-size: 72px;
	margin: 0;
    line-height: 100%;
    color: white;
}

.text2{
	text-align: center;
}

.text3{
	text-align: right;
}

/*


Цвет текста сделать серым там где надо

*/

.metods{
	width: 320px;
	height: 453px;
	margin: auto;
	margin-bottom: 38px;
}

.metods__text{
	color: white;
	line-height: 21.6px;
	margin: 0;
	margin-bottom: 24px;
   font-family: "Inter", sans-serif;
}

.text1{
	color: #D9D9D9;
}

.list{
	width: 320px;
	height: 1368px;
	margin-bottom: 40px;
	background: #FEE42A;
	padding: 20px;
}

.cards{
	width: 320px;
	height: 1749px;
	margin: auto;
	margin-bottom: 60px;
	padding: 20px;
}

.card-grey{
   width: 279px;
   height: 455px;
   background: #343434;
   border-radius: 30px;
   padding: 20px;

}

.card__image{
	width: 100px;
	height: 100px;
  border-radius: 50px;
}

.card__name{
  margin: 0;
     font-family: "Inter", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 900;
    line-height: ;135%
}

.card__title{
margin: 0;
font-family: "EB Garamond", serif;
   color: white;
   font-size: 22px;
   font-weight: 400;
   line-height: 135%;
   margin-bottom: 8px;
   margin-top: 8px;
}

.card__text{
margin: 0;
   font-family: "Inter", sans-serif;
   color: white;
   font-size: 16px;
   font-weight: 400;
   line-height: 21.6px;
}

.card-yellow{
   width: 279px;
   height: 328px;
   background: #fee42a;
   border-radius: 30px;
   margin-top: 32px;
   margin-bottom: 32px;
   padding: 20px;
}

.yellow__p{
	font-width: 400;
	font-size: 16px;
	margin-bottom: 8px;
	
   
}

.yellow__text{
	font-width: 400;
	font-size: 16px;
	font-family: "Inter", sans-serif;
}


.footer{
	width: 360px;
	height: 62px;
}


.List__title{
	font-family: "EB Garamond", serif;
	font-size: 28px;
	line-height: 115%;
	font-weight: 400;
	color: black;
	text-align: center;
}

.List__text{
	  font-family: "Inter", sans-serif;
    font-size: 20px;
	line-height: 27px;
	font-weight: 300;
	color: black;
 
}

.List__item{
	font-family: "Inter", sans-serif;    
	font-size: 16px;
	line-height: 21.6px;
	font-weight: 400;
	margin-bottom: 16px;
}


.cards .List__title{
	color: white;
}

.cards .List__text {
	color: white;
}

.footer__p{
	font-family: "Inter", sans-serif;    
	color: white;
	margin: 0;
	display: inline-block ;
	margin-right: 180px;
	margin-top: 20px;
}

.footer__v{
	font-family: "Inter", sans-serif; 
	font-width: 400;
    font-height: 14px;
    line-height: 125%;
    color: white;


}

.footer__y{
	font-family: "Inter", sans-serif; 
	font-width: 400;
    font-height: 14px;
    line-height: 125%;
    color: white;


}

.header__name{
	font-family: Inter;
	color: white;
	font-size: 22px;
	font-weight: 400;
	line-height: 135%;
	margin: 0;
	display: inline-block;	
	margin-top: 30px;
}

.header__link{
	font-family: Inter;
	color: white;
	margin-left: 20px;
	text-underline-offest: 4px;
}

.header__link: hover{
	opacity: 0.6;
text-decoration: underline;
}